<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--      BOOTSTRAP CSS LINK....-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!--      CUSTOM CSS LINK....-->
    <link rel="stylesheet" href="{% static 'teachers/css/teachers.css' %}">
    <title>Courses Manage</title>
</head>
<body>
<!--Teacher Manage its Courses-->
<div class="container">

    <!--PYTHON IF-ELSE CONDITION CARDS  --- START  -->
    {% for course_obj in course_data %}
    {% if request.user.id == course_obj.user.id %}
    <div class="card" id="card-item-{{course_obj.id}}">
        <div class="card-header">
            <img src="{% static 'teachers/images/fronted-course.png' %}" alt="rover"/>
        </div>
        <div class="card-body">
            <span class="tag tag-teal">{{course_obj.course_type}}</span>
            <h4>
                {{ course_obj.course_name }}
            </h4>
            <p class="course-description">
                {{ course_obj.course_description }}
            </p>

            <div class="user">
                <img src="https://lh3.googleusercontent.com/ogw/ADGmqu8sn9zF15pW59JIYiLgx3PQ3EyZLFp5Zqao906l=s32-c-mo"
                     alt="user"/>
                <div class="user-info">
                    <h5>{{ course_obj.user.get_full_name }}</h5>
                    <small>{{ course_obj.updated_at }}</small>
                </div>
            </div>
        </div>
        <button id="course-del-btn" class="btn btn-danger" onclick="removeCourse({{course_obj.id}})">Delete
            Course
        </button>
    </div>
    {% endif %}
    {% endfor %}
</div>
<!--jQuery CDN Link-->
<script src="https://code.jquery.com/jquery-3.6.2.min.js"
        integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<!--Custom JavaScript -->
<script src="{% static 'teachers/js/teachers.js' %}"></script>
</body>
</html>