<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--      BOOTSTRAP CSS LINK....-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!--      CUSTOM CSS LINK....-->
    <link rel="stylesheet" href="{% static 'teachers/css/teachers.css' %}">
    <title>Teacher Courses</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-3">
            {{ courses_fm.course_name.label_tag }}
            {{ courses_fm.course_name }} <span class="errorlist"> {{courses_fm.course_name.errors|striptags}} </span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            {{ courses_fm.course_description.label_tag }}
            {{ courses_fm.course_description }} <span class="errorlist"> {{courses_fm.course_description.errors|striptags}} </span>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-3">
            {{ courses_fm.standard.label_tag }}
            {{ courses_fm.standard }} <span class="errorlist"> {{courses_fm.standard.errors|striptags}} </span>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-3">
            {{ courses_fm.course_type.label_tag }}
            {{ courses_fm.course_type }} <span class="errorlist"> {{courses_fm.course_type.errors|striptags}} </span>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-3">
            {{ courses_fm.price.label_tag }}
            {{ courses_fm.price }} <span class="errorlist"> {{courses_fm.price.errors|striptags}} </span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            {{ courses_fm.user.label_tag }}
            {{ courses_fm.user }} <span class="errorlist"> {{courses_fm.user.errors|striptags}} </span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add course</button>
</form>


</body>
</html>