<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--      BOOTSTRAP CSS LINK....-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Title</title>
    <style>
    .errorlist {
        color: #cc0033;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
        line-height: 20px;
        text-shadow: 1px 1px rgba(250,250,250,.3);
}





    </style>
</head>
<body>

<form method="post" novalidate>
    {% csrf_token %}
    <div class="form-row">
        {% for field in form %}
        <div class="col-md-9 mb-3">
            {{field.label_tag}} {{field}} <span class="errorlist">{{field.errors|striptags}} </span>
        </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-outline-warning">Set Password</button>
</form>


</body>
</html>