<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--      BOOTSTRAP CSS LINK....-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!--      CUSTOM CSS LINK....-->
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
    <title>Student Register</title>
  </head>
  <body>

<!--    Student Registration Form-->

<form method="POST" novalidate>
    {% csrf_token %}    <!-- Django Cross Site Verification -->
{% block teacher_reg %}
  <div class="form-row mt-2">
    <div class="col-md-9 mb-3">
      {{form.first_name}} <span class="errorlist"> {{form.first_name.errors|striptags}} </span>
    </div>
    <div class="col-md-9 mb-3">
        {{form.last_name}}  <span class="errorlist"> {{form.last_name.errors|striptags}} </span>
    </div>
    <div class="col-md-9 mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
        </div>
        {{form.username}}  <span class="errorlist m-auto"> {{form.username.errors|striptags}} </span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-9 mb-3">
        {{form.email}}  <span class="errorlist"> {{form.email.errors|striptags}} </span>
    </div>
    <div class="col-md-9 mb-3">
        {{form.subject}}  <span class="errorlist"> {{form.subject.errors|striptags}} </span>
    </div>
    <div class="col-md-9 mb-3">
        {{form.password}}   <span class="errorlist"> {{form.password.errors|striptags}} </span>
    </div>
    <div class="col-md-9 mb-3">
        {{form.confirm_password}}  <span class="errorlist">{{form.confirm_password.errors|striptags}} </span>  {{ form.non_field_errors }}
    </div>
  </div>
  {% endblock %}
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
      <label class="form-check-label" for="invalidCheck2">
        Agree to terms and conditions
      </label>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
  <button class="btn btn-danger" type="reset">Clear Form</button>

</form>

<!--    Student Registration Form ENDS ////-->


  <!--      CUSTOM JAVASCRIPT LINK....-->
	<script src="{% static 'users/js/users.js' %}"></script>
  </body>
</html>